@import '../../styles/tokens/mixins.scss';

.rights-request-form {
    margin: 1rem;
    margin-bottom: 10rem;
}

fieldset {
    display:flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
}
.required-text {
    @include body;
}
.required {
    color: var(--color-alert);
}

.is-request-for-radio-group {
    .gsl-radio-group-title-label {
        @include body;
        color: var(--color-brand);
        margin-bottom: .5rem;
        font-weight: bold;
    }
}



.personal-info-group {
    flex-flow: row wrap;
    gap: 1rem;
}

.right-to-access-section, 
.right-to-deletion-section {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    textarea {
        margin: 1rem;
        margin-top: .25rem;
    }
}

.delivery-type-radio-group {
    margin-top: 2rem;
}

.school-select-field {
    .gsl-select:nth-of-type(n+2) {
        margin-top: 1.5rem;
    }
}

.request-action-field {
    margin-top: 2rem;
}

.gsl-select, .gsl-input {
    width: 100%;

}

@media (min-width: 800px) {
    .gsl-select {
        width: 60%;
    }
    .gsl-input {
        width: 40%;
    }
    .state-select {
        width: 30%;
    }
}

.request-action-checkbox-group {
    .gsl-field-label {
        @include heading-3;
    }
}