@import '../../styles/tokens/mixins.scss';

.rights-request-form {
    margin: 1rem;
    margin-bottom: 10rem;
}

fieldset {
    display:flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
}
.required-text {
    @include body;
}
.required {
    color: var(--color-alert);
}

.is-request-for-radio-group {
    .gsl-radio-group-title-label {
        @include body;
        color: var(--color-brand);
        margin-bottom: .5rem;
        font-weight: bold;
    }
}



.personal-info-group {
    flex-flow: row wrap;
    .gsl-select,.gsl-input {
        width: 100%;

    }

    .gsl-input {
        width: 100%;
        @media (min-width: 800px) {
            width: 50%;
        }
    }


}

.right-to-access-section, 
.right-to-deletion-section {
    margin-left: 2rem;
}
