.checkbox-group {
    display: inline-flex;
    flex-direction: column;
    position: relative;
  }
  .checkbox-group .gsl-checkbox-fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
    padding: 0;
    margin: 0;
    margin-left: 2rem;
  }
  
  .checkbox-group .gsl-checkbox-parent-checkbox {
    line-height: 1.4;
    font-weight: bold;
  }
  
  .checkbox-group legend {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  .checkbox-group .gsl-checkbox {
    margin-top: .75rem;
  }
  
  .gsl-input-help-text-container {
    color: var(--color-brand);
    font-size: .75rem;
    display: flex;
    align-items: center;
    margin: 0;
    svg {
      transform: scale(.5);
      padding-top: .25rem;
    }
  }

.gsl-checkbox-group-parent-checkbox-invalid {
  .gsl-component-help-text-container, .gsl-field-label {
    color: var(--color-alert);
  }
}
.gsl-checkbox-group-helper-text {
  color: var(--color-brand);
  font-size: .75rem;
  display: flex;
  align-items: center;
  margin: 0;
  svg {
    transform: scale(.5);
    padding-top: .25rem;
  }
}


