@import 'styles/font-face';
@import 'styles/tokens/variables';
@import 'styles/tokens/mixins';
@import 'styles/styles/typography';
//@import 'styles/tokens/consumer_variables';
//@import 'styles/tokens/consumer_mixins';


.main-container {
    margin: auto;
    max-width: 800px;
}



.markdown-content {
    h1 {
        @include heading-1;
    }
    
    h2 {
        @include heading-2;
    }
    
    h3 {
        @include heading-3;
    }
    
    h4 {
        @include heading-4;
    }
    
    h5 {
        @include heading-5;
    }
    
    h6 {
        @include heading-6;
    }
    
    p, li {
        @include body;
    }
    
    a {
        @include link;
    }
    
}

.gsl-component-help-text-container {
    color: var(--color-brand);
    font-size: .75rem;
    display: flex;
    align-items: center;
    margin: 0;
    padding: .5rem 0;
    svg {
      margin-right: 5px;
    }
  }

  .gsl-form-label {
    display: block;
    color: var(--color-brand);
    font-weight: normal;
    margin-bottom: 5px;
  }


.rrf-submit-button {
    margin-top: 2rem;
    background: var(--color-brand);
    border: none;
    outline: none;
    border-radius: 15px;
    padding: .5rem 1rem;
    font-family: var(--noto-sans);
    color: var(--color-white);
    font-weight: bold;
    font-size: 19px;
    width: 100%;

    transition: all 200ms cubic-bezier(0.4,0,0.6,1);
    &:focus, &:hover {
        background: var(--color-active);
    }
    &:disabled {
        background: var(--color-white);
        color: var(--color-gray-5);
        border: 1px solid var(--color-gray-5);
    }

    @media (min-width: 800px) { 
        width: inherit;
    }
}